[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = "<3.6,>=3.5"
djangocms-admin-style = "<1.3,>=1.2"
django-treebeard = "<5.0,>=4.0"
"361c8d4" = {file = "https://github.com/divio/djangocms-text-ckeditor/archive/master.zip?1527572494.783376"}
"debd025" = {file = "https://github.com/divio/djangocms-file/archive/master.zip?1527572494.783376"}
"50d022b" = {file = "https://github.com/divio/djangocms-link/archive/master.zip?1527572494.783376"}
"7d2e3e1" = {file = "https://github.com/divio/djangocms-style/archive/master.zip?1527572494.783376"}
"f04bf48" = {file = "https://github.com/divio/djangocms-googlemap/archive/master.zip?1527572494.783376"}
"bdba631" = {file = "https://github.com/divio/djangocms-snippet/archive/master.zip?1527572494.783376"}
"752d0e9" = {file = "https://github.com/divio/djangocms-picture/archive/master.zip?1527572494.783376"}
"f974967" = {file = "https://github.com/divio/djangocms-video/archive/master.zip?1527572494.783376"}
"228fab0" = {file = "https://github.com/divio/djangocms-column/archive/master.zip?1527572494.783376"}
easy-thumbnails = "*"
django-filer = ">=1.3"
django = "<2.0"
pytz = "*"
django-classy-tags = ">=0.7"
"html5lib" = "<0.99999999,>=0.999999"
pillow = ">=3.0"
django-sekizai = ">=0.9"
six = "*"
"urllib3" = ">=1.22"

[dev-packages]

[requires]
python_version = "3.6"
